@{
    ViewBag.Title = "About";
}
<div class="container body-content">
    <h3 class="text-center m-3">About Us</h3>
    <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum rutrum lacus a efficitur. Sed maximus elementum arcu, laoreet bibendum justo ultricies pharetra. Curabitur porta eros nec tortor varius, vitae dignissim arcu auctor. Suspendisse potenti. Donec pretium magna nibh, quis tempus metus maximus sit amet. Etiam at lorem sit amet nunc condimentum convallis et quis ligula. Morbi dignissim elementum sapien, at ultrices nunc. Vivamus eleifend pretium enim eget sodales. Maecenas et libero cursus, tristique libero non, lacinia arcu. Morbi scelerisque nibh eu lacus molestie iaculis. Donec efficitur vestibulum lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam consectetur enim nec mattis lobortis.

        Curabitur eu gravida felis, a posuere tortor. Quisque hendrerit ante non quam aliquet, vitae vestibulum lorem tincidunt. Aenean orci sapien, mollis vel eleifend at, maximus eu ex. Mauris aliquet sagittis orci, id placerat ipsum pulvinar eu. Sed malesuada, ligula nec commodo maximus, tortor risus viverra lorem, eget venenatis sem turpis ac dui. Mauris lectus neque, condimentum eget lobortis sit amet, sagittis ac libero. In venenatis, turpis eu posuere eleifend, magna ligula suscipit arcu, non pharetra purus erat nec massa.
    </p>
    <div class="row col-md-12 justify-content-center" style="margin-bottom: 40px;">
        <div class="col-md-3 m-3">
            <center><button class="btn btn-darkblue font-weight-bold">Make a Booking</button></center>
        </div>

        <div class="col-md-3 m-3">
            <center><button class="btn btn-darkblue font-weight-bold">FAQs</button></center>
        </div>

        <div class="col-md-3 m-3">
            <center><button class="btn btn-darkblue font-weight-bold">Get In Touch</button></center>
        </div>
    </div>
</div>