@{
    ViewBag.Title = "Accessibility";
}
<div class="container body-content">
    <h2 class="mx-3">Accessibility Statement for <span class="basic-information website-name">ParkEasy Airport Parking Web Application</span></h2>
    <p>
        <span class="basic-information organization-name">ParkEasy Airport Parking Ltd.</span>
        is committed to ensuring digital accessibility for people with disabilities.
        We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
    </p>
    <h3>Conformance status</h3>
    <p>
        The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.
        <span class="basic-information website-name">ParkEasy Airport Parking Web Application</span>
        is
        <span class="basic-information conformance-status" data-printfilter="lowercase">partially conformant</span>
        with
        <span class="basic-information conformance-standard"><span data-negate="">WCAG 2.1 level AA</span>.</span>
        <span>
            <span class="basic-information conformance-status">Partially conformant</span>
            means that
            <span class="basic-information conformance-meaning">some parts of the content do not fully conform to the accessibility standard</span>.
        </span>
    </p>
    <h3>Feedback</h3>
    <p>
        We welcome your feedback on the accessibility of
        <span class="basic-information website-name">ParkEasy Airport Parking Web Application</span>.
        Please let us know if you encounter accessibility barriers on
        <span class="basic-information website-name">ParkEasy Airport Parking Web Application</span>:
    </p>
    <ul class="basic-information feedback h-card">
        <li>
            Phone:
            <span class="phone-number p-tel">0141 555 0204</span>
        </li>
        <li>
            E-mail:
            <a class="email u-email" href="mailto:contact@parkeasy.co.uk">contact@parkeasy.co.uk</a>
        </li>
        <li>
            Visitor address:
            <span class="visitor-address p-extended-address">190 Airport Road, Glasgow</span>
        </li>
        <li>
            Postal address:
            <span class="postal-address p-adr">G4 0ND</span>
        </li>
    </ul>
    <p>
        We try to respond to feedback within <span class="feedback responsetime">1-2 business days</span>.
    </p>
    <hr noshade="noshade">
    <p>
        This statement was created on
        <span class="basic-information statement-created-date">10 May 2019</span>
        using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.
    </p>
</div>