
@{
    ViewBag.Title = "FAQs";
}

<div class="container body-content">
    <h4 class="text-center my-3">Frequently Asked Questions</h4>

    <h5>Booking</h5>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-12 mx-auto">
            <div class="accordion" id="faqBooking">
                <div class="card">
                    <div class="card-header p-2" id="bookingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                How do I pay for my booking?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqBooking">
                        <div class="card-body">
                            We accept online payments from debit/credit cards issued by Visa, Mastercard, American Express, and Maestro. Online bookings can also now be paid via PayPal. <br><br> On-site bookings can be paid for with via debit/credit card or cash.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="bookingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Are prices charged per day or per night?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="bookingTwo" data-parent="#faqBooking">
                        <div class="card-body">
                            Parking slot pricing is charged per day.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="bookingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How do I amend or cancel my booking?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="bookingThree" data-parent="#faqBooking">
                        <div class="card-body">
                            You can manage your booking online by login in to our web application and viewing your booking under 'My Bookings'. From here you can easily amend or cancel your booking. <br><br> <strong>Note: </strong> Bookings must be cancelled at least 48 hours prior to arrival to recieve the 75% refund. Bookings cancelled later than this will not be refunded.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="bookingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Do you allow for on-the-spot bookings?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="bookingFour" data-parent="#faqBooking">
                        <div class="card-body">
                            Yes, we allow customers to arrive on the day of their departure without reservation - but spaces/availability may be limited.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->

    <h5>Parking Facilities</h5>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-12 mx-auto">
            <div class="accordion" id="faqParking">
                <div class="card">
                    <div class="card-header p-2" id="parkingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How will you keep my vehicle safe?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="parkingOne" data-parent="#faqParking">
                        <div class="card-body">
                            We have a number of security measures in place to ensure your vehicle is stored safely when you leave it with us. This includes state of the art CCTV, 24/7 on-site security staff and controlled entry/exit barriers. Your vehicle will also be fully insured when you leave it with us in the event something happens to it.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="parkingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What size is your parking lot?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="parkingTwo" data-parent="#faqParking">
                        <div class="card-body">
                            Currently we have one parking lot area that holds 150 vehicles at one time.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="parkingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Will my vehicle be covered by insurance?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="parkingThree" data-parent="#faqParking">
                        <div class="card-body">
                            Yes, all vehicles left with us are fully insured in the event something happens.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/row-->

    <h5>Valet Service</h5>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-12 mx-auto">
            <div class="accordion" id="faqValet">
                <div class="card">
                    <div class="card-header p-2" id="valetOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                What valet services do you offer?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="valetOne" data-parent="#faqValet">
                        <div class="card-body">
                            Thanks to our recent expansion, we now offer both a mini and full valet service.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="valetTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                How much are your valet services?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="valetTwo" data-parent="#faqValet">
                        <div class="card-body">
                            Our mini valet service is priced at £@ViewBag.MiniValetPrice.00 and our full valet service at £@ViewBag.FullValetPrice.00
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="valetThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                What do your valet services include?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="valetThree" data-parent="#faqValet">
                        <div class="card-body">
                            <div class="row">
                                <p class="col-md-6">
                                    The mini valet service includes: <br><br>

                                    <i class="fas fa-check text-darkblue"></i> Vehicle Wash &amp; Wax <br>
                                    <i class="fas fa-check text-darkblue"></i> Interior Clean <br>
                                    <i class="fas fa-check text-darkblue"></i> Interior Polish <br />
                                    <i class="fas fa-check text-darkblue"></i> Tyre Shine <br />
                                    <i class="fas fa-check text-darkblue"></i> Air Fresheners <br />
                                </p>
                                <p class="col-md-6">
                                    The full valet service includes: <br><br>

                                    <i class="fas fa-check text-darkblue"></i> Vehicle Wash &amp; Wax <br>
                                    <i class="fas fa-check text-darkblue"></i> Interior Clean <br>
                                    <i class="fas fa-check text-darkblue"></i> Seat Shampoo/Clean <br />
                                    <i class="fas fa-check text-darkblue"></i> Interior Polish <br />
                                    <i class="fas fa-check text-darkblue"></i> Tyre Shine <br />
                                    <i class="fas fa-check text-darkblue"></i> Wheel Arch Jet Wash <br />
                                    <i class="fas fa-check text-darkblue"></i> Air Fresheners <br />
                                    <i class="fas fa-check text-darkblue"></i> Interior/Exterior Polish <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--/row-->
    <h5>Departures/Returns</h5>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-12 mx-auto">
            <div class="accordion" id="faqDepReturn">
                <div class="card">
                    <div class="card-header p-2" id="depReturnOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                What is the check-in process?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEleven" class="collapse" aria-labelledby="depReturnOne" data-parent="#faqDepReturn">
                        <div class="card-body">
                            On your arrival of our parking facilities you should park your car outside in our drop off area, come inside to our office where one of our booking clerks will check you in and we will provide you with a receipt - you will need this to retrieve your vehicle so don't lose it!
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="depReturnTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                What is the check-out process?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="depReturnTwo" data-parent="#faqDepReturn">
                        <div class="card-body">
                            When you return from your trip we will have your vehicle ready for you and will release it to you once you provide us with your check-in receipt.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header p-2" id="depReturnThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                What if my flight is delayed?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="depReturnThree" data-parent="#faqDepReturn">
                        <div class="card-body">
                            In the event your flight is delayed and you are unable to retrieve your vehicle at the time originally planned, we will charge an extra fee of 1 day's parking (per day the vehicle is over the return date) to cover the additional parking costs. <br><br> <strong>Note: </strong> If you are delayed through no fault of your own, you will be able to claim compensation from your Airline to cover the cost of this surplus charge.
                        </div>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-header p-2" id="depReturnFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                            How will I get to/from Glasgow Airport without my vehicle?
                        </button>
                    </h5>
                </div>
                <div id="collapseFourteen" class="collapse" aria-labelledby="depReturnFour" data-parent="#faqDepReturn">
                    <div class="card-body">
                        We provide a free shuttle service that runs every 10 minutes to and from Glasgow Airport. 
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
    <!--/row-->




</div>
    <!--container-->


