@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Enums
@using DayPilot.Web.Mvc.Events.Scheduler

@{
    ViewBag.Title = "Test";
}

<div class="container body-content">
    <h1>Scheduler</h1>

    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js"></script>
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_material.css" rel="stylesheet" />
    <!--https://docs.dhtmlx.com/scheduler/howtostart_dotnet_core.html-->
</div>