@model ParkEasyV1.Models.Booking

@{
    ViewBag.Title = "Make a Booking";
}

<div class="container body-content">
    <h2 class="text-center" style="margin-top: 20px; margin-bottom: 30px;">Make a Booking</h2>

    <h5 class="text-center" style="padding-bottom: 20px;">Additional Services You Might Be Interested In..</h5>

    <div class="row justify-content-center" style="padding-bottom: 40px;">
        <div class="col-md-5 thinborder m-3">
            <h6 class="text-center">Mini Valet Service - £10.00</h6>
            <p>Our Mini Valet Service is ideal for customers who don't require a full service valet on their vehicle but would still like our professional valet staff to perform a quick tidy up before returning from your trip.</p>
            <p>
                The mini valet service includes: <br><br>

                <i class="fas fa-check text-darkblue"></i> Vehicle Wash &amp; Wax <br>
                <i class="fas fa-check text-darkblue"></i> Interior Clean <br>
                <i class="fas fa-check text-darkblue"></i> Interior Polish <br />
                <i class="fas fa-check text-darkblue"></i> Tyre Shine <br />
                <i class="fas fa-check text-darkblue"></i> Air Fresheners <br />
            </p>
            <center style="padding-bottom: 30px;"><button type="submit" onclick="location.href='@Url.Action("PurchaseValet", new { valetID = 3})'" class="btn btn-darkblue font-weight-bold">Add Mini Valet (+£10.00)</button></center>
        </div>
        <div class="col-md-5 thinborder m-3">
            <h6 class="text-center">Full Valet Service - £20.00</h6>
            <p>We now also offer a full valet service which is performed in-house by our professional valet team, and is perfect who want a full and thorough valet to return to after a long trip.</p>
            <p>
                The full valet service includes: <br><br>

                <i class="fas fa-check text-darkblue"></i> Vehicle Wash &amp; Wax <br>
                <i class="fas fa-check text-darkblue"></i> Interior Clean <br>
                <i class="fas fa-check text-darkblue"></i> Seat Shampoo and Clean <br />
                <i class="fas fa-check text-darkblue"></i> Interior Polish <br />
                <i class="fas fa-check text-darkblue"></i> Tyre Shine <br />
                <i class="fas fa-check text-darkblue"></i> Wheel Arch Jet Wash <br />
                <i class="fas fa-check text-darkblue"></i> Air Fresheners <br />
                <i class="fas fa-check text-darkblue"></i> Door Interior and Exterior Polish <br />
            </p>
            <center style="padding-bottom: 30px;"><button type="submit" onclick="location.href='@Url.Action("PurchaseValet", new { valetID = 2})'" class="btn btn-darkblue font-weight-bold">Add Full Valet (+£20.00)</button></center>
        </div>
    </div>

    <center style="padding-bottom: 30px;"><button type="submit" onclick="location.href='@Url.Action("Charge", "Payments")'" class="btn btn-darkblue font-weight-bold">Continue Without Valet</button></center>
</div>
