@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container body-content">
    <h1>Scheduler</h1>

    <script src="~/Scripts/dhtmlxScheduler/dhtmlxscheduler.js"></script>
    <link href="~/Scripts/dhtmlxScheduler/dhtmlxscheduler_material.css" rel="stylesheet" />

    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>

</div>